body {
    text-align: center;
    place-items: center;
    transform: scale(0.75);
    transform-origin: top left;
    width: 133.33%;
    overflow-x: hidden;
}

button{
    background-color: #000000;
    color: white;
    font-size: 2.5em;
}

#display{
    font-size: 15em;
    margin: 0px;
}

#achievementdisplay{
    display: none;
    font-size: 3em;
    margin-top: 75px;
    margin-bottom: 30px;
}

#polybit{
    margin: 75px;
    margin-bottom: 0px;
}

#upgrade5{
    margin: 75px;
    margin-bottom: 0px;
}

#byteupgrade {
    background-color: black;
    color: white;
    font-size: 2.5em;
    font-family: sans-serif;
    margin: 3px;
}

#tooltip1, #tooltip2, #tooltip3, #tooltip4, #tooltipbyte, #bytedisplay, #tooltipbit{
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    margin: 0px;
    display: none;
}

#tooltipbit{
    font-size: 2em;
}

#achievements {
    display: flex;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#enhancements {
    display: none;
}
 
#enhancements button {
    height: 150px;
    width: 250px;
    position: absolute;
    font-size: 1.3em;
}

#enhancement1 { top: 100px; left: 810px; display: inline;}
#enhancement2 { top: 275px; left: 670px; display: none;}
#enhancement3 { top: 275px; left: 950px; display: none;}
#enhancement4 { top: 450px; left: 670px; display: none;}
#enhancement5 { top: 450px; left: 950px; display: none;}
#enhancement6 { top: 625px; left: 530px; display: none;}
#enhancement7 { top: 625px; left: 810px; display: none;}
#enhancement8 { top: 625px; left: 1090px; display: none;}
#enhancement9 { top: 800px; left: 810px; display: none;}

.achievementbox {
    position: relative;
}

.tileinfo {
    position: absolute;
    bottom: 180px;
    left: 7px;
    outline: 3px solid rgb(118, 118, 118);
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    width: 165px;
    display: none;
}

.row {
    display: flex;
}

#tabbuttons {
    margin-bottom: 50px;
}

.tileincomplete, .tilecomplete{
    background-color: gray;
    margin: 7px;
    font-size: 50px;
    width: 165px;
    height: 165px;
}

.tileincomplete img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    outline: 3px solid rgb(118, 118, 118);
}

.tilecomplete img{
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    outline: 7.5px solid rgb(0, 152, 0);
}
